// CSS FOR MAIN NAVBAR
.main-header {
  background-color: var(--primary);
  padding: 0.5rem 0;

  //POPOVER
  &__popover-triangle {
    position: absolute;
    border: 10px solid white;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;

    transform: translateY(-99%);
  }

  &__popover {
    border: 1px solid var(--third);
    border-top-color: white;
    position: relative;
    border-radius: 0.125rem;
    background-color: var(--light);
    box-shadow: var(--shadow);

    &-content {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 7rem;
      display: flex;
      flex-direction: column;

      &-title {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: left;
        border: none;
        background-color: white;

        &:hover {
          color: var(--primary);
        }

        &--mt {
          margin-top: 0.5rem;
        }
      }
    }
  }

  &__navbar {
    color: var(--third);

    &--flex {
      display: flex;
      justify-content: end;
      align-items: center;
    }

    &-language {
      display: flex;
      align-items: center;

      margin-right: 1rem;
      cursor: pointer;

      &--title {
        margin: 0 0.3rem;
        display: block;
        min-width: fit-content;
      }

      &--hover {
        &:hover {
          color: rgba(245, 245, 245, 0.7);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &-register {
      padding: 0 1rem;
      border-right: 2px solid rgba(245, 245, 245, 0.5);
      & a {
        @include link-styles(var(--third), rgba(245, 245, 245, 0.7), 400);
      }
    }

    &-login {
      padding: 0 1rem;
      & a {
        @include link-styles(var(--third), rgba(245, 245, 245, 0.7), 400);
      }
    }

    &-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      padding: 0 1rem;
    }

    &-avatar {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        fill: var(--light);
        background-color: white;
      }
    }
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  &__shopping {
    padding: 2rem;
    @include grid-template-styles(12, 0.5rem);
  }

  &__logo {
    &-link {
      @include grid-col-styles(1, 2);
    }

    &-icon {
      display: flex;
      justify-content: end;

      width: 10rem;
      fill: var(--light);
    }
  }

  &__form-search {
    @include grid-col-styles(3, 9);
  }

  &__search-mobile {
    display: none;
  }

  &__input-group {
    display: flex;
    border-radius: 0.125rem;
    background-color: var(--light);
    padding: 4px;
  }

  &__input {
    flex-grow: 1;
    border-style: none;
    padding: 8px 12px;
    font-size: medium;

    &:focus {
      outline: none;

      @at-root .main-header__form-search:focus-within {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__button {
    width: 5rem;
    border-radius: 0.125rem;
    padding: 8px 24px;
    flex-shrink: 0;
  }

  &__cart {
    @include grid-col-styles(12, 1);

    &-link {
      display: flex;
      justify-content: start;
      margin-left: 8px;
      color: var(--light);
    }

    &-icon {
      width: 2rem;
      height: 2rem;
    }
  }
}

//---CSS FOR AUTH NAVBAR----//
.auth-header {
  width: 100%;
  background: white;

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
    gap: 4px;
  }

  &__link {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    height: 60px;
    fill: var(--primary);
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: xx-large;
      font-weight: 700;
      margin-bottom: 10px;
      margin-right: 0px;
    }
  }
}

//---------RESPONSIVE-----------//
@media screen and (max-width: 1200px) {
  .main-header {
    &__shopping {
      padding: 1.75rem 0;
    }

    &__logo {
      &-icon {
        width: 100%;
        fill: var(--light);
      }
    }

    &__input {
      padding: 6px 12px;
    }

    &__button {
      width: 4.75rem;
    }

    &__cart {
      &-icon {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  //---SCREEN FOR MAIN NAVBAR----//
  .main-header {
    &__input-group {
      padding: 2px;
    }

    &__button {
      width: 4.5rem;
    }
  }
  //---SCREEN FOR AUTH NAVBAR----//
  .auth-header {
    &__content {
      justify-content: center;
    }

    &__link {
      padding: 0 20px;
      display: block;
    }

    &__logo {
      height: 40px;
      fill: var(--primary);
    }

    &__title {
      h1 {
        font-size: x-large;
        font-weight: 600;
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  //---SCREEN FOR MAIN NAVBAR----//
  .main-header {
    &__navbar {
      font-size: small;
      &-language {
        margin-right: 0.3rem;

        &--title {
          margin: 0 0.3rem;
        }
      }

      &-register {
        padding: 0 0.5rem;
      }

      &-login {
        padding: 0 0.5rem;
      }
    }

    &__icon {
      width: 1.2rem;
      height: 1.2rem;
    }

    &__shopping {
      padding: 1.5rem;
    }

    &__logo {
      &-link {
        @include grid-col-styles(1, 5);
      }

      &-icon {
        max-width: 8rem;
        fill: var(--light);
      }
    }

    &__form-search {
      @include grid-col-styles(9, 2);
    }

    &__input-group {
      display: none;
    }

    &__search-mobile {
      display: block;
      color: var(--light);
      cursor: pointer;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: end;

        width: 100%;

        svg {
          max-width: 2rem;
        }
      }
    }

    &__cart {
      @include grid-col-styles(11, 2);

      &-link {
        color: var(--light);
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;

        svg {
          max-width: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  //---SCREEN FOR MAIN NAVBAR----//
  .main-header {
    &__logo {
      &-link {
        @include grid-col-styles(1, 6);
      }

      &-icon {
        width: 0rem;
        width: 100%;
      }
    }

    &__form-search {
      @include grid-col-styles(7, 3);
    }

    &__search-mobile {
      &-icon {
        svg {
          width: 1.25rem;
        }
      }
    }

    &__cart {
      @include grid-col-styles(10, 3);

      &-icon {
        svg {
          width: 1.25rem;
        }
      }
    }

    &__navbar {
      &-avatar {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  //---SCREEN FOR AUTH NAVBAR----//
  .auth-header {
    &__title {
      h1 {
        font-size: large;
        font-weight: 600;
        margin-bottom: 6px;
      }
    }
  }
}
