//-----CSS FOR PRODUCT LIST------//
.product-list {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background-color: var(--bg-grey);

  &__main {
    @include grid-template-styles(12, 1rem);
    align-items: start;

    &-left {
      @include grid-col-styles(1, 3);
    }

    &-right {
      @include grid-col-styles(4, 9);
    }
  }

  &__products {
    width: 100%;
    padding: 2rem 0;
    @include grid-template-styles(5, 0.5rem);
  }

  &__item {
    @include grid-col-span(1);
  }
}

//-----CSS FOR COMPONENT ASIDE-FILTER-------//
.asideFilter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__link {
    @include link-styles(var(--dark), var(--dark), 600);

    &--flex {
      display: flex;
      align-items: center;
    }

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__icon {
    margin-right: 0.5rem;
    height: 1rem;
    width: 0.75rem;

    &--current-color {
      fill: currentColor;
      stroke: currentColor;
    }
  }

  &__category {
    &-list {
      list-style: none;
    }

    &-item {
      padding: 3px 0;
      margin: 4px 0;
    }
  }

  &__price-form-input {
    display: flex;
    align-items: center;
  }

  &__price-divider {
    margin: 0 6px;
  }

  &__price-input {
    width: 100%;
    padding: 6px 4px;
    margin: 0.5rem 0;
  }

  &__rating-title {
    font-size: small;
  }

  &__line {
    margin: 1rem 0;
    height: 1px;
    width: 100%;
    background-color: var(--dark-light);
  }

  &__apply-button,
  &__reset-button {
    border-radius: 0;
  }
}

//-----CSS FOR COMPONENT RATING-START-------//
.rating-stars {
  list-style: none;

  &__list {
    margin: 6px 0;
  }

  &__item {
    &--pointer {
      cursor: pointer;
    }

    &--flex {
      display: flex;
      align-items: center;
    }
  }

  &__filled-star,
  &__hollow-star {
    margin-right: 4px;
    height: 1rem;
    width: 1rem;
  }

  &__upvote {
    font-size: small;
  }
}

//-----CSS FOR COMPONENT SORT-PRODUCT-LIST-------//
.sort-product-list {
  background-color: #c8ced466;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__button {
    max-width: fit-content;
    @include button(var(--light), var(--dark), var(--primary), var(--light));
    padding: 8px;
    border-radius: 0;
    font-size: small;
  }

  &__select {
    min-width: 150px;
    padding: 8px;
    // outline: 2px solid transparent;
    // background-color: var(--primary);
    // color: var(--light);

    &:focus {
      outline: none;
      box-shadow: var(--shadow);
    }

    &-option {
      padding: 9px 0;
      // background-color: var(--light);
      // color: var(--primary);
    }
  }

  &__count-page {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 4px;
  }

  &__page-indicator {
    padding: 6px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__next {
    border-top-left-radius: 0.125rem;
    padding: 4px 8px;
    color: black;
    background-color: var(--light);
    border-right: 1px solid rgba(221, 221, 221, 0.7);
    cursor: pointer;

    &:hover {
      background-color: rgba(246, 246, 246, 0.7);
    }
  }

  &__prev {
    border-bottom-right-radius: 0.125rem;
    padding: 4px 8px;
    color: black;
    background-color: var(--light);
    cursor: pointer;
    &:hover {
      background-color: rgba(246, 246, 246, 0.7);
    }
  }

  &__icon {
    height: 1rem;
    width: 1rem;
  }
}

//-----CSS FOR COMPONENT PRODUCT-------//
.product {
  text-decoration: none;
  color: var(--dark);

  &__container {
    overflow: hidden;
    border-radius: 0.125rem;
    background-color: var(--light);
    box-shadow: var(--shadow);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-0.04rem);
    }
  }

  &__image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  &__image {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__info {
    overflow: hidden;
    padding: 0.5rem;
  }

  &__name {
    min-height: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__prices {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
  }

  &__price {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(107 114 128);

    &:first-child {
      text-decoration-line: line-through;
    }

    &:last-child {
      margin-left: 6px;
      color: rgb(238 77 45);
    }
  }

  &__currency {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &__value {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__additional-info {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__sold-info {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__sold-text {
    width: fit-content;
    margin-left: 0.25rem;
    font-size: 0.75rem;
  }
}

//-----CSS FOR COMPONENT PAGINATION-------//
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;
  gap: 0.5rem;
  &__prev,
  &__next,
  &__number {
    background-color: var(--light);
    padding: 0.5rem 0.75rem;
    box-shadow: var(--shadow);
    text-decoration: none;
    color: black;

    cursor: pointer;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: rgb(247, 247, 247);
      transition: all 0.2s ease-in-out;
    }
  }
}

//-------------RESPONSE---------------//

@media screen and (max-width: 1200px) {
  //-----CSS FOR PRODUCT LIST------//
  .product-list {
    &__products {
      @include grid-template-styles(4, 0.5rem);
    }
  }
}

@media screen and (max-width: 1000px) {
  //-----CSS FOR PRODUCT LIST------//
  .product-list {
    &__products {
      @include grid-template-styles(3, 0.5rem);
    }
  }
}
@media screen and (max-width: 768px) {
  //-------PRODUCT LIST-------//
  .product-list {
    padding: 1rem 0;

    &__main {
      &-left {
        display: none;
      }

      &-right {
        @include grid-col-styles(1, 12);
      }
    }

    &__products {
      @include grid-template-styles(3, 0.5rem);
    }
  }
}

@media screen and (max-width: 640px) {
  //-----CSS FOR PRODUCT LIST------//
  .product-list {
    &__products {
      @include grid-template-styles(2, 0.5rem);
    }
  }

  //-----CSS FOR COMPONENT SORT PRODUCT LIST-------//
  .sort-product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__button {
      padding: 6px 10px;
    }

    &__select {
      padding: 6px 10px;
    }

    &__count-page {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}

@media screen and (max-width: 400px) {
  //-----CSS FOR PRODUCT LIST------//
  .product-list {
    &__products {
      @include grid-template-styles(1, 0.5rem);
    }
  }
}
