//-----CSS FOR PRODUCT LIST------//
.product-list {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background-color: var(--bg-grey);
  position: relative;

  &__main {
    @include grid-template-styles(12, 0.5rem);

    &-left {
      @include grid-col-styles(1, 3);
    }

    &-right {
      @include grid-col-styles(4, 9);
    }
  }
}
//-----CSS FOR COMPONENT ASIDE FILTER-------//
.asideFilter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__link {
    @include link-styles(var(--dark), var(--dark), 600);

    &--flex {
      display: flex;
      align-items: center;
    }

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__icon {
    margin-right: 0.5rem;
    height: 1rem;
    width: 0.75rem;

    &--current-color {
      fill: currentColor;
      stroke: currentColor;
    }
  }

  &__category {
    &-list {
      list-style: none;
    }

    &-item {
      padding: 3px 0;
      margin: 4px 0;
    }
  }

  &__price-form-input {
    display: flex;
    align-items: center;
  }

  &__price-divider {
    margin: 0 6px;
  }

  &__price-input {
    width: 100%;
    padding: 6px 4px;
    margin: 0.5rem 0;
  }

  &__rating-title {
    font-size: small;
  }

  &__line {
    margin: 1rem 0;
    height: 1px;
    width: 100%;
    background-color: var(--dark-light);
  }

  &__apply-button,
  &__reset-button {
    border-radius: 0;
  }
}

//-----CSS FOR COMPONENT RATING START-------//
.rating-starts {
  list-style: none;

  &__list {
    margin: 6px 0;
  }

  &__item {
    &--pointer {
      cursor: pointer;
    }

    &--flex {
      display: flex;
      align-items: center;
    }
  }

  &__filled-star,
  &__hollow-star {
    margin-right: 4px;
    height: 1rem;
    width: 1rem;
  }

  &__upvote {
    font-size: small;
  }
}

//-----CSS FOR COMPONENT SORT PRODUCT LIST-------//

//-----CSS FOR COMPONENT PRODUCT-------//

@media screen and (max-width: 768px) {
  //-------PRODUCT LIST-------//
  .product-list {
    padding: 1rem 0;

    &__main {
      &-left {
        @include grid-col-styles(1, 1);
      }

      &-right {
        @include grid-col-styles(2, 11);
      }
    }
  }
}
