//------MIXIN for ELEMENT LINK (a)-------//
@mixin link-styles($text-color, $hover-color, $x) {
  text-decoration: none;
  color: $text-color;
  font-weight: $x;

  &:hover {
    color: $hover-color;
    transition: all 0.3s ease-in-out;
  }
}

//------MIXIN for GRID LAYOUT - columns--------//
@mixin grid-template-styles($x-col, $y) {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat($x-col, minmax(0, 1fr));
  gap: $y;
}

//$x:bắt đầu từ vị trí thứ x  - $y:số cột
@mixin grid-col-styles($x, $y) {
  grid-column: $x / span $y;
}

@mixin grid-col-span($x) {
  grid-column: span $x / span 1;
}

//------MIXIN for BUTTON--------//
@mixin button($bg-color, $color, $bg-color-hover, $color-hover) {
  text-transform: uppercase;

  background-color: $bg-color;
  color: $color;

  border: none;

  cursor: pointer;

  &:hover {
    background-color: $bg-color-hover;
    color: $color-hover;
    box-shadow: var(--shadow);
    transition: all 0.3s ease-in-out;
  }
}
