.authForm {
  width: 100%;
  min-height: fit-content;
  background-color: var(--primary);

  & form {
    padding: 4rem 0;
  }

  &__main {
    max-width: 600px;
    margin: 0 auto;
    min-height: 300px;
    background: var(--light);
    border-radius: 8px;
    box-shadow: var(--shadow);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    padding: 1rem 3rem;

    .span-group {
      margin-bottom: 1rem;

      & span:first-child {
        color: var(--dark-light);
      }

      & span:last-child {
        & a {
          @include link-styles(var(--primary-light), var(--primary), 600);
        }
      }
    }
  }
}

//-------RESPONSIVE------//
@media screen and (max-width: 1200px) {
  .authForm {
    &__main {
      max-width: 500px;
    }

    &__content {
      padding: 1rem 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .authForm {
    & form {
      padding: 3rem 0;
    }

    &__main {
      max-width: 700px;
    }

    &__content {
      gap: 1rem;
      padding: 1rem;

      .span-group {
        & span:first-child {
          font-size: small;
        }

        & span:last-child {
          font-size: medium;
        }
      }
    }
  }
}
